<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Transacciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Lista de Transacciones</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Categoría</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for transaccion in transacciones %}
                <tr>
                    <td>{{ transaccion.id }}</td>
                    <td>{{ transaccion.tipo }}</td>
                    <td>{{ transaccion.categoria.nombre }}</td>
                    <td>{{ transaccion.descripcion }}</td>
                    <td>{{ transaccion.monto }}</td>
                    <td>{{ transaccion.fecha|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
