body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)),
     url("../images/madera.jpeg");
    color: white;
}
.container{
    color: white;
}

th{
    color: white;
}

td{
    color: white;
}